# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# БД
*.db
*.sqlite3

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
logs/

# Операционные системы
.DS_Store
Thumbs.db

# Мини-приложение
static/bundle.js
static/bundle.css
